# Visual Studio 2015/2017 cache/options directory
.vs/
.logs/
project/
ENVNAME*
request.log
response.log
.logs/
dockerfile
config.yaml
*.ps1
environments.yaml
__pycache__
release-validation-dashboards/